.game-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.controls {
    margin-top: 20px;
}

.reset-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
}
.reset-button:hover {
    background-color: chocolate;
}